@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Gamja+Flower&family=Nanum+Gothic+Coding:wght@400;700&display=swap');

.mypage {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Gothic Coding', monospace;
}

.profile {
  width: 250px;
  height: 250px; 
  border-radius: 90%;
  overflow: hidden;
  background-color: #e2e2e2;
}
.user {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: grey;
}

.myInfo {
  margin: 30px 60px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.nickname {
  font-weight: 700;
  font-size: 40px;
}

.point {
  margin-top: 20px;
  margin-left: 10px;
}

.btns {
  width: 600px;
}

.btn {
  width: 280px;
  height: 40px;
  background-color: #e2e2e2;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 13px;
}

.btn:hover {
  background-color: #f8cb2e ;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .mypage {
    flex-direction: column;
  }
  .myInfo {
    width: 290px;
  }
  .btns {
    width: 300px;
  }
}