.wrap {
    height: 60px;
    border-bottom: 2px solid #ccc;
}

.wrap:hover {
    background: #e4e8eb;
}

.itemWrap {
    width: 90%;
    margin: 0 auto;
}

.item {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: larger;
}

.itemInfo span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 2px 7px 0;
    background-color: #e4e8eb;
    vertical-align: top;
}

.itemTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

.default {
    margin-top: 100px;
    width: 100%;
    height: 70vh;
    text-align: center;
    font-size: 2em;
}