.container{
  width: min(100%, calc(800px + 2vw));
  /* height: 4000px; */
  margin: 0 auto;
  margin-top: min(calc(30px + 2vw), 60px);
}

.banner{
  width: 100%;
  height: 15em;
  overflow: hidden;
}
.banner_images{
  width: 100%;
  display:flex;
}

.img{
  min-width: 100%;
  height: min(calc(150px + 10vw),calc(230px + 1vw));
  min-height: 180px;
}

.info{
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding: 15px 80px 0 10px;
}

.title{
  font-size: min(calc(20px + 1vw), 30px);
  font-weight: 700;
}

.price{
  font-size: min(calc(15px + 0.5vw), 20px);
  font-weight: 700;
  margin: calc(5px + 0.5vw) 0;
}

.iconArea{
  display: flex;
  margin-bottom: calc(10px + 0.5vw);
}
.iconArea span{
  width: calc(40px + 2vw);
  padding: 5px 0 0 8px;
}

.description{
  height: 100%;
  line-height: 20px;
}




.btnArea{
  position:fixed;
  bottom: 10px;
  width: 100%;
}
.heartBtn{
  width: min(40%, calc(320px + 0.8vw));
  height: 5vh;
  background-color: #D3D3D3;
  border-radius: 10px;
  margin-right: min(5%, calc(40px + 0.1vw));
}
.giftBtn{
  width: min(55%, calc(440px + 1.1vw));
  height: 5vh;
  background-color: #d6B534;
  border-radius: 10px;
}

.btn{
  background-color: rgb(255, 243, 169);
}
