.wrapper {
  display: flex;
  background-color: #ffffff;
  margin-bottom: 30px;
  max-width: 450px;
}

.img{
  width: max(50vw , 250px);
  height: calc(100px + 2vw);
}

.img:hover{
  transform: translateY(-3px)
}

.info{
  padding: calc(10px + 1vw);
}

.title{
  font-size: 18px;
  font-weight: 700;
}