.tabList {
  position: sticky;
  top: 8vh;
  display: flex;
  background-color: aliceblue;
  z-index:9999;
}

.tab{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min(5vh,50px);
  border-bottom: 1px solid #808080;
}

.btn{
  font-size: 18px;
  font-weight: 600;
}


.selected {
  border-bottom: #d6B534 3px solid;
  font-weight: 800;
}
